h1 {
    color: blue;
    font-size: 3rem;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    text-align: center;

}
img {
    border: 5px dark yellow;
    border: 30px
}